<section class="search-section">
  <h2>Search Public IP Blacklist</h2>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="20">
      <mat-form-field>
        <input matInput placeholder="Minimum Count" type="number" [(ngModel)]="countMinimum">
      </mat-form-field>
    </div>
    <div fxFlex="20">
      <mat-form-field>
        <input matInput placeholder="Max Age In Days" type="number" [(ngModel)]="maxAgeInDays">
      </mat-form-field>
    </div>
    <div fxFlex="20">
      <mat-form-field>
        <input matInput placeholder="Confidence Minimum %" type="number" [(ngModel)]="confidenceMinimum">
      </mat-form-field>
    </div>
    <div fxFlex="20">
      <button mat-raised-button color="primary" (click)="fetchBlacklist()">Search</button>
    </div>
  </div>
</section>
<section class="view-section">
  <h2>Blacklist Viewer</h2>
  <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="50"
    [rowHeight]="'auto'" [trackByProp]="'updated'" [rows]="blacklist">
    <ngx-datatable-column name="IP Address" prop="ipAddress"></ngx-datatable-column>
    <ngx-datatable-column name="# Reports" prop="totalReports"></ngx-datatable-column>
    <ngx-datatable-column name="Abuse Confidence Score" prop="abuseConfidenceScore"></ngx-datatable-column>
    <ngx-datatable-column name="Detail" prop="ipAddress">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <button mat-button color="primary" (click)="viewIP(value)">View</button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</section>
